/*

!.gitignore

!*.h
!*.hh
!*.hpp
!*.c
!*.cc
!*.cpp
!*.inc

!core/
!core/*

!system/
!system/*

!platform/
!platform/windows/
!platform/windows/*

!tests/
!tests/*

!tests/msvs/
/tests/msvs/*
!tests/msvs/*.h
!tests/msvs/*.hh
!tests/msvs/*.hpp
!tests/msvs/*.c
!tests/msvs/*.cc
!tests/msvs/*.cpp
!tests/msvs/*.inc
!tests/msvs/*.sln
!tests/msvs/*.vcxproj
!tests/msvs/*.filters
